/* ===========================
   Animación al hacer scroll
=========================== */

.reveal{

    opacity:0;
    transform:translateY(70px);

    transition:
        opacity .9s ease,
        transform .9s ease;

}

.reveal.active{

    opacity:1;
    transform:translateY(0);

}